<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">Contacto</h2>
  <div class="row">
    <div class="col-sm-8">
      <p>Contact us and we'll get back to you within 24 hours.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Carretera internacional México-Nogales. Km 1841 S/N. Parque industrial.
        Cd. Obregón, Sonora, México.</p>
      <p><span class="glyphicon glyphicon-phone"></span> +52 (644) 413 99 29</p>
      <p><span class="glyphicon glyphicon-envelope"></span> recepcion@alinsumos.com</p>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
