<h3>{{activeContent.title}}</h3>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <img alt="140x140" src="{{activeContent.image}}" />
    </div>
    <div class="col-sm-6 col-md-9">
      <p>{{activeContent.content}}</p>
    </div>
    <br/>
    <table class="table table-striped">
      <thead>
        <tr>
          <th colspan="2"><p class="text-center">Análisis Típico</p></th>
        </tr>
        <tr>
          <th>Determinación</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of activeContent.table.body">
          <th scope="row">{{row.cellOne}}</th>
          <td>{{row.cellTwo}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
