<h3>h3. Bootstrap heading <small>Secondary text</small></h3>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <img alt="140x140" src="http://via.placeholder.com/200x200" />
    </div>
    <div class="col-sm-6 col-md-9">
      <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula. Cum sociis natoque penatibus et magnis dis parturient
        montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo
        luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.
        Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus.
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
    </div>
    <br/>
    <table class="table table-striped">
      <thead>
        <tr>
          <th colspan="2"><p class="text-center">Análisis Típico</p></th>
        </tr>
        <tr>
          <th>Determinación</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
