@import "../../../../assets/styles/_general-vars.scss";
// .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover
.nav-pills>li.active>a {
    background-color: $third-color;
    color: #FFF;
    &:focus {
        background-color: $third-color;
    }
    &:hover {
        background-color: $third-color;
    }
}

a {
    color: $third-color;
}
