<div id="directory" class="container-fluid">
  <div class="page-header">
    <h1>Directorio</h1>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4" *ngFor="let contact of directory.contactsArray">
      <div class="thumbnail">
        <div class="caption">
          <address>
            <h4>{{contact.mainName}}</h4>
            <hr>
            <strong><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Correo electrónico:</strong><br>
            <a href="mailto:{{contact.email}}">{{contact.email}}</a>
            <p *ngIf="contact.phone"><b><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Extensión: </b>{{contact.phone}}</p>
            <strong *ngIf="contact.secondEmail"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Correo electrónico:</strong><br>
            <a *ngIf="contact.secondEmail" href="mailto:{{contact.secondEmail}}">{{contact.secondEmail}}</a>
            <p *ngIf="contact.secondPhone"><b><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Extensión: </b>{{contact.secondPhone}}</p>
          </address>
          <hr>
          <p>
            <a *ngIf="contact.phone; else sendEmail" href="tel:(644)4139929;{{contact.phone}}" class="btn btn-success" role="button">Marcar Ext. {{contact.phone}}</a>
            <a *ngIf="contact.secondPhone" href="#" class="btn btn-default" role="button">Marcar Ext. {{contact.secondPhone}}</a></p>
            <ng-template #sendEmail>
                <a href="mailto:{{contact.email}}" class="btn btn-success" role="button">Enviar e-mail</a>
            </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
