<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <h2>Acerca de Alinsumos</h2><br>
      <h4>
        ALINSUMOS, es una empresa joven, que nace hace muy pocos años en el Noroeste del país, con un entrañable cariño por nuestro
        México, comprometidos con su desarrollo en la economía primaria, directamente en la agroindustria, tenemos muy claro
        en nuestra VISION, que debemos crear crecimiento para beneficio de productores y consumidores, coadyuvando en su
        desarrollo y así sumarnos a la solución de la cadena alimenticia, especialmente Granos.
      </h4>
      <br/>
      <p>Somos un equipo joven, emprendedor, preparado, profesional, actualizado y con visión de largo plazo. En cada contacto
        de negocios con productores, encontrarán en nosotros a un equipo confiable para fincar relaciones de largo plazo,
        en el concepto de GANAR-GANAR. Estamos seguros que el compromiso, y la búsqueda de soluciones que apoyen al productor,
        la encontrarán siempre en nuestro equipo de trabajo. Las utilidades que se obtienen de este ejercicio emprendedor,
        se re-invierten en infraestructura y nuevos servicios para que todos crezcamos y pongamos nuestro granito de arena
        al desarrollo de este nuestro México, país rico por su gente y sus recursos. Tenga por seguro que en ALINSUMOS, somos
        confiables, comprometidos y muy trabajadores.

        <br/> Muy Cordialmente
      </p>
      <br>
    </div>
    <div class="col-xs-6 col-md-4 hidden-xs">
      <div class="embed-responsive embed-responsive-4by3">
        <video class="embed-responsive-item" controls>
          <source src="assets/video/director-message.mp4" type="video/mp4"> Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <img src="assets/images/tolva_llenado.jpg" class="img-responsive img-rounded" width="400px" />
    </div>
    <div class="col-sm-8">
      <h2>Nuestros Valores</h2><br>
      <h4><strong>MISIÓN:</strong> Ser la mejor opción de los productores agropecuarios en financiamiento, comercialización y
        darles valor agregado a sus productos. Obtener un crecimiento profesional y humano de todos los integrantes de Alinsumos.</h4><br>
      <p><strong>VISIÓN:</strong> Ser una empresa lider en el noroeste y occidente de México en la actividad Agroindustial.
      </p>
      <p><strong>OBJETIVOS:</strong></p>
      <div>
        <ul>
          <li>Apoyar al sector agropecuario con alternativas financieras más apropiadas.</li>
          <li> Asegurar el abastecimiento de la materia prima.</li>
          <li> Contar con una mejora continua en los procesos de la empresa.</li>
        </ul>
      </div>
      <h4><strong>VALORES:</strong></h4>
      <div>
        <ul>
          <li><strong>Compromiso:</strong> Obligación contraída por medio de acuerdo, promesa o contrato."</li>
          <li><strong>Honestidad:</strong> Compostura, decencia y moderación en la persona, acciones y palabras."</li>
          <li><strong>Lealtad:</strong> Cumplimiento de las leyes y el honor."</li>
          <li><strong>Participación:</strong> La toma o recepción de parte de alguna situación, compartir ideas, opiniones, entre
            otras."
          </li>
          <li><strong>Espiritu de servicio:</strong> Estar orientados a resolver las actividades propias y de los compañeros
            para cumplir con las metas establecidas."
          </li>
          <li><strong>Trabajo en equipo:</strong> La serie de estrategias, procedimientos y metodologías que utiliza un grupo
            humano para lograr las metas propuestas."
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="services" class="container-fluid text-center">
  <h2>Servicios</h2>
  <h4>Ofrecemos</h4>
  <br>
  <div class="row">
    <div class="col-sm-6 col-md-4" *ngFor="let service of services.servicesInformationArray">
      <div class="thumbnail">
        <img class="img-rounded" src="{{service.image}}" alt="">
        <div class="caption">
          <h3>{{service.title}}</h3>
          <p>{{service.content}}
            <p>
              <a href="#" class="btn btn-default" role="button">Ver más</a>
            </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="products" class="container-fluid text-center bg-grey">
  <h2>Productos</h2><br>
  <h4>Familia de productos</h4>
  <div class="col-xs-6 col-md-3" *ngFor="let product of products.productsInformation">
    <a href="#" class="thumbnail">
      <img src="{{product.image}}" alt="">
    </a>
    <div class="caption">
      <h3>{{product.title}}</h3>
    </div>
  </div>
</div>

<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid">
  <h2 class="text-center">Contacto</h2>
  <div class="row">
    <div class="col-sm-8">
      <p>Contact us and we'll get back to you within 24 hours.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Carretera internacional México-Nogales. Km 1841 S/N. Parque industrial.
        Cd. Obregón, Sonora, México.</p>
      <p><span class="glyphicon glyphicon-phone"></span> +52 (644) 413 99 29</p>
      <p><span class="glyphicon glyphicon-envelope"></span> recepcion@alinsumos.com</p>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Google Maps -->
<div id="googleMap">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m17!1m11!1m3!1d3188.3786880304115!2d-109.85081776688577!3d27.422659346284558!2m2!1f0!2f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xebc0988aaba3f993!2sAlinsumos+S.A.+de+C.V.!5e1!3m2!1ses-419!2smx!4v1503175777534" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
