//noinspection ALL
.parallax {
  /* The image used */
  background-image: url('../../assets/images/corn-header.jpg');
  //background-image: url('assets/images/trigo_manos.jpg');

  /* Full height */
  height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.charmain-video{
  width: 320px;
  height: 250px;
}
