<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <h2>Acerca de Alinsumos</h2><br>
      <h4>
        ALINSUMOS, es una empresa joven, que nace hace muy pocos años en el Noroeste del país, con un entrañable cariño
        por nuestro México, comprometidos con su desarrollo en la economía primaria, directamente en la agroindustria,
        tenemos muy claro en nuestra VISION, que debemos crear crecimiento para beneficio de productores y consumidores,
        coadyuvando en su desarrollo y así sumarnos a la solución de la cadena alimenticia, especialmente Granos.
      </h4>
      <br/>
      <p>Somos un equipo joven, emprendedor, preparado, profesional, actualizado y con visión de largo plazo. En cada
        contacto de negocios con productores, encontrarán en nosotros a un equipo confiable para fincar relaciones de
        largo plazo, en el concepto de GANAR-GANAR.
        Estamos seguros que el compromiso, y la búsqueda de soluciones que apoyen al productor, la encontrarán siempre
        en nuestro equipo de trabajo.

        Las utilidades que se obtienen de este ejercicio emprendedor, se re-invierten en infraestructura y nuevos
        servicios para que todos crezcamos y pongamos nuestro granito de arena al desarrollo de este nuestro México,
        país rico por su gente y sus recursos.
        Tenga por seguro que en ALINSUMOS, somos confiables, comprometidos y muy trabajadores.

        <br/>
        Muy Cordialmente
      </p>
      <br>
    </div>
    <div class="col-xs-6 col-md-4 hidden-xs">
      <div class="embed-responsive embed-responsive-4by3">
        <video class="embed-responsive-item" controls>
          <source src="assets/video/director-message.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <img src="assets/images/tolva_llenado.jpg" class="img-responsive img-rounded" width="400px"/>
    </div>
    <div class="col-sm-8">
      <h2>Nuestros Valores</h2><br>
      <h4><strong>MISIÓN:</strong> Ser la mejor opción de los productores agropecuarios en financiamiento,
        comercialización y darles valor agregado a sus productos. Obtener un crecimiento profesional y humano de todos
        los integrantes de Alinsumos.</h4><br>
      <p><strong>VISIÓN:</strong> Ser una empresa lider en el noroeste y occidente de México en la actividad
        Agroindustial.</p>
      <p><strong>OBJETIVOS:</strong></p>
      <div>
        <ul>
          <li>Apoyar al sector agropecuario con alternativas financieras más apropiadas.</li>
          <li> Asegurar el abastecimiento de la materia prima.</li>
          <li> Contar con una mejora continua en los procesos de la empresa.</li>
        </ul>
      </div>
      <h4><strong>VALORES:</strong></h4>
      <div>
        <ul>
          <li><strong>Compromiso:</strong> Obligación contraída por medio de acuerdo, promesa o contrato."</li>
          <li><strong>Honestidad:</strong> Compostura, decencia y moderación en la persona, acciones y palabras."</li>
          <li><strong>Lealtad:</strong> Cumplimiento de las leyes y el honor."</li>
          <li><strong>Participación:</strong> La toma o recepción de parte de alguna situación, compartir ideas,
            opiniones, entre otras."
          </li>
          <li><strong>Espiritu de servicio:</strong> Estar orientados a resolver las actividades propias y de los
            compañeros para cumplir con las metas establecidas."
          </li>
          <li><strong>Trabajo en equipo:</strong> La serie de estrategias, procedimientos y metodologías que utiliza un
            grupo humano para lograr las metas propuestas."
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="services" class="container-fluid text-center">
  <h2>Servicios</h2>
  <h4>Ofrecemos</h4>
  <br>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="assets/images/pasillo.jpg" alt="">
        <div class="caption">
          <h3>ParaFinanciera</h3>
          <p>La Parafinanciera ALIFIN tiene como Principal Objetivo el gestionar, obtener y otorgar financiamiento
            agrícola, estamos operando desde hace varios años con este esquema apoyando a nuestros productores del valle
            del Yaqui y Mayo, habilitando más de 7000 hectáreas de Trigo, Maíz, Cártamo, Sorgo, Algodón, etc.</p>
          <p>
            <a href="#" class="btn btn-default" role="button">Ver más</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="assets/images/cotton.jpg" alt="">
        <div class="caption">
          <h3>Despepitadora de Algodón</h3>
          <p>En Alinsumos estamos siempre al pendiente de las necesidades de nuestros productores, razón por la cual
            ponemos en marcha la planta despepitadora de algodón, ubicada en calle 600 y 3 del valle del yaqui cuenta
            con dos plantas una Murray 1080 y una Murray 690 con capacidad de 350 pacas diarias, con la cual se dará
            servicio a más de 4000 has.</p>
          <p>
            <a href="#" class="btn btn-default" role="button">Ver más</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="assets/images/trigo_granos.jpg" alt="">
        <div class="caption">
          <h3>Pignoración de Granos</h3>
          <p>Se refiere al término pignorar que significa "dar o dejar en prenda". Es cuando se deposita temporalmente
            la totalidad o una parte de la cosecha y se obtiene un documento expedido por un almacén general de depósito
            que certifica la existencia del grano, mediante el cual, el productor esta en posibilidad de obtener un
            crédito prendario con un agente financiero.</p>
          <p>
            <a href="#" class="btn btn-default" role="button">Ver más</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="assets/images/secado_grano.jpg" alt="">
        <div class="caption">
          <h3>Secado de Granos</h3>
          <p>Los granos, como es bien conocido, no pueden conservarse almacenados si no están secos. La cuestión es
            determinar cuándo un grano se considera "seco". Como término general, para los granos como Maíz y Sorgo, una
            humedad del 14% se considera el límite para estimarlo como "seco". En el caso del Trigo Cristalino y
            Harinero 12 % se considera su límite.</p>
          <p>
            <a href="#" class="btn btn-default" role="button">Ver más</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="assets/images/transporte.jpg" alt="">
        <div class="caption">
          <h3>Transporte de mercancía</h3>
          <p>En Alinsumos sabemos la importancia de trasladar las mercancías en tiempo y forma a los destinos que
            nuestros clientes dispongan, por ello contamos con una flota de camiones moderna y funcional, contando con
            Cajas secas y refrigeradas, jaulas y camiones torton, garantizando un servicio de calidad y sin demoras.</p>
          <p>
            <a href="#" class="btn btn-default" role="button">Ver más</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="assets/images/maiz_cribado.jpg" alt="">
        <div class="caption">
          <h3>Importación de granos</h3>
          <p>El Comercio Exterior es el intercambio de bienes, servicios y capitales entre diferentes países. Cuando un
            país necesita ingresar productos se produce la importación, la que es definida como "la introducción legal
            de mercancía extranjera para su uso o consumo del país".</p>
          <p>
            <a href="#" class="btn btn-default" role="button">Ver más</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="assets/images/silos_costales.jpg" alt="">
        <div class="caption">
          <h3>Almacenaje y conservación</h3>
          <p>El valor económico, alimenticio agrícola e industrial asociado a los granos y semillas requieren de
            cuidados especiales para garantizar su calidad y esta debe mantenerse durante el tiempo necesario hasta el
            momento de su uso. El almacenamiento se refiere a la concentración de algún producto o insumo en lugares
            especialmente diseñados para tal efecto. </p>
          <p>
            <a href="#" class="btn btn-default" role="button">Ver más</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-off logo-small"></span>
      <h4>POWER</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4>LOVE</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock logo-small"></span>
      <h4>JOB DONE</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
  <br><br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf logo-small"></span>
      <h4>GREEN</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate logo-small"></span>
      <h4>CERTIFIED</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-wrench logo-small"></span>
      <h4 style="color:#303030;">HARD WORK</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div> -->
</div>

<div id="portfolio" class="container-fluid text-center bg-grey">
  <h2>Portfolio</h2><br>
  <h4>What we have created</h4>
  <div class="row text-center slideanim">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="paris.jpg" alt="Paris" width="400" height="300">
        <p><strong>Paris</strong></p>
        <p>Yes, we built Paris</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="newyork.jpg" alt="New York" width="400" height="300">
        <p><strong>New York</strong></p>
        <p>We built New York</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="sanfran.jpg" alt="San Francisco" width="400" height="300">
        <p><strong>San Francisco</strong></p>
        <p>Yes, San Fran is ours</p>
      </div>
    </div>
  </div>
  <br>

  <h2>What our customers say</h2>
  <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h4>"This company is the best. I am so happy with the
          result!"<br><span>Michael Roe, Vice President, Comment Box</span></h4>
      </div>
      <div class="item">
        <h4>"One word... WOW!!"<br><span>John Doe, Salesman, Rep Inc</span></h4>
      </div>
      <div class="item">
        <h4>"Could I... BE any more happy with this company?"<br><span>Chandler Bing, Actor, FriendsAlot</span></h4>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!-- Container (Pricing Section) -->
<div id="pricing" class="container-fluid">
  <div class="text-center">
    <h2>Pricing</h2>
    <h4>Choose a payment plan that works for you</h4>
  </div>
  <div class="row slideanim">
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Basic</h1>
        </div>
        <div class="panel-body">
          <p><strong>20</strong> Lorem</p>
          <p><strong>15</strong> Ipsum</p>
          <p><strong>5</strong> Dolor</p>
          <p><strong>2</strong> Sit</p>
          <p><strong>Endless</strong> Amet</p>
        </div>
        <div class="panel-footer">
          <h3>$19</h3>
          <h4>per month</h4>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Pro</h1>
        </div>
        <div class="panel-body">
          <p><strong>50</strong> Lorem</p>
          <p><strong>25</strong> Ipsum</p>
          <p><strong>10</strong> Dolor</p>
          <p><strong>5</strong> Sit</p>
          <p><strong>Endless</strong> Amet</p>
        </div>
        <div class="panel-footer">
          <h3>$29</h3>
          <h4>per month</h4>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Premium</h1>
        </div>
        <div class="panel-body">
          <p><strong>100</strong> Lorem</p>
          <p><strong>50</strong> Ipsum</p>
          <p><strong>25</strong> Dolor</p>
          <p><strong>10</strong> Sit</p>
          <p><strong>Endless</strong> Amet</p>
        </div>
        <div class="panel-footer">
          <h3>$49</h3>
          <h4>per month</h4>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Contact us and we'll get back to you within 24 hours.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Chicago, US</p>
      <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
      <p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>
    </div>
    <div class="col-sm-7 slideanim">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Google Maps -->
<div id="googleMap" style="height:400px;width:100%;"></div>
<script>
  function myMap() {
    var myCenter = new google.maps.LatLng(41.878114, -87.629798);
    var mapProp = {
      center: myCenter,
      zoom: 12,
      scrollwheel: false,
      draggable: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
    var marker = new google.maps.Marker({position: myCenter});
    marker.setMap(map);
  }
</script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
<!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
-->
